## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


###`Q-1` Find out top 10 countries' which have maximum A and D values.


###`Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

In [ ]:

-- 1
SELECT A.country,A,D FROM (SELECT country,A FROM country_ab ORDER BY A DESC limit 10) A
LEFT JOIN
(SELECT country,D FROM country_cd ORDER BY D DESC LIMIT 10) B
ON A.country=B.country
UNION
SELECT B.country,A,D FROM (SELECT country,A FROM  country_ab ORDER BY A DESC LIMIT 10) A
RIGHT JOIN
(SELECT country,D FROM country_cd ORDER BY D DESC LIMIT 10) B
ON A.country=B.country
ORDER BY country;



-- 2
SELECT Region,MAX(CL) from country_cl t1
join country_ab t2
ON t1.country=t2.country
WHERE t1.Edition=2020
GROUP BY Region
ORDER BY MAX(CL) DESC;

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

###`Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

###`Q-6:` Sales man who has generated most revenue. Show top 5.

###`Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

In [ ]:
-- 3
SELECT Name,SUM(Quantity) AS 'total_quantity'  from sales1 t1
JOIN products t2
ON t1.ProductID=t2.ProductID
GROUP BY t1.ProductID
ORDER BY total_quantity DESC LIMIT 5;


-- 4
SELECT t1.SalesPersonID,FirstName,LastName,SUM(Quantity) AS 'num_sold'  FROM sales1 t1
JOIN employees t2
ON t1.SalesPersonID=t2.EmployeeID
GROUP BY t1.SalesPersonID
ORDER  BY num_sold DESC LIMIT 5;


-- 5
SELECT t1.SalesPersonID,FirstName,LastName,COUNT(DISTINCT CustomerID)
AS 'unique_customer' FROM sales1 t1
JOIN employees t2
ON t1.SalesPersonID=t2.EmployeeID
GROUP BY t1.SalesPersonID
ORDER BY unique_customer DESC LIMIT 5;


-- 6
SELECT t1.salesPersonID,t3.FirstName,t3.LastName,
ROUND(SUM(t1.Quantity * t2.Price)) AS 'total_revenue'
FROM sales1 t1
JOIN products t2
ON t1.ProductID=t2.ProductID
JOIN employees t3
ON t1.SalesPersonID=t3.EmployeeID
GROUP BY t1.SalesPersonID
ORDER BY total_revenue  DESC LIMIT 5;

-- 7
SELECT t1.CustomerID,t2.FirstName,t2.LastName,COUNT(*)  from sales1 t1
JOIN customers t2
ON t1.CustomerID=t2.CustomerID
GROUP BY t1.CustomerID
HAVING COUNT(*)>10;

-- 8
SELECT t1.SalesPersonID,FirstName,LastName,COUNT(DISTINCT CustomerID) AS 'unique_customers' FROM sales1 t1
JOIN employees t2
ON t1.SalesPersonID = t2.EmployeeID
GROUP BY t1.SalesPersonID
HAVING unique_customers > 5;

-- 9
SELECT *
FROM (SELECT DISTINCT t1.CustomerID AS 'first_customer',
t2.CustomerID AS 'second_customer',
t1.SalesPersonID
FROM sales1 t1
JOIN sales1 t2
ON t1.SalesPersonID = t2.SalesPersonID
AND t1.CustomerID != t2.CustomerID) A
JOIN customers B
ON A.first_customer = B.customerID
LEFT JOIN customers C
ON A.second_customer = C.CustomerID
LEFT JOIN employees D
ON A.SalesPersonID = D.EmployeeID;