# Task for SQL DML session

Load this dataset in your database and perform below given tasks.

DataSet - https://docs.google.com/spreadsheets/d/e/2PACX-1vRa1wWwXmzxEvqITxj4OQTeLywlGTTsOTbhSRqKj2lPuGefjlci-DQhgLBPpgWXe8AAUu2WUBqY59X1/pub?gid=1030172542&single=true&output=csv

Look for data description

Kaggle - https://www.kaggle.com/datasets/thedevastator/insurance-claim-analysis-demographic-and-health?select=insurance_data.csv

### Perform the following queries

1. Show records of 'male' patient from 'southwest' region.
2. Show all records having bmi in range 30 to 45 both inclusive.
3. Show minimum and maximum bloodpressure of diabetic patient who smokes. Make column names as MinBP and MaxBP respectively.
4. Find no of unique patients who are not from southwest region.
5. Total claim amount from male smoker.
6. Select all records of south region.
7. No of patient having normal blood pressure. Normal range[90-120]
8. No of pateint belo 17 years of age having normal blood pressure as per below formula -
    - BP normal range = 80+(age in years × 2) to 100 + (age in years × 2)

    - Note: Formula taken just for practice, don't take in real sense.
9. What is the average claim amount for non-smoking female patients who are diabetic?
10. Write a SQL query to update the claim amount for the patient with PatientID = 1234 to 5000.
11. Write a SQL query to delete all records for patients who are smokers and have no children.

In [ ]:
# 1 Show records of 'male' patient from 'southwest' region.
select * from insurance_data
where gender='male' and region='southwest'

In [ ]:
# 2 Show all records having bmi in range 30 to 45 both inclusive.
select * from insurance_data
where bmi between 30 and 45

In [ ]:
#3 Show minimum and maximum bloodpressure of diabetic patient who smokes. Make column names as MinBP and MaxBP respectively.
select min(bloodpressure) as 'MinBP',max(bloodpressure) as 'MAXBP' from insurance_data
where smoker='yes'

In [ ]:
# 4Find no of unique patients who are not from southwest region.
select * from insurance_data
select count(distinct(PatientID)) from insurance_data
where region='southwest'

In [ ]:
# 5 Total claim amount from male smoker.
select sum(claim)  from insurance_data
where gender='male' and smoker='yes'

In [ ]:
# 6 Select all records of south region.
select * from insurance_data
where region like 'south%'

In [ ]:
# 7 No of patient having normal blood pressure. Normal range[90-120]
select * from insurance_data
where bloodpressure between 90 and 120

In [ ]:
# 8 No of pateint belo 17 years of age having normal blood pressure as per below formula -

# BP normal range = 80+(age in years × 2) to 100 + (age in years × 2)

# Note: Formula taken just for practice, don't take in real sense.
select count(*) from insurance_data
where age<17
and (bloodpressure between 80+(age*2) and 100+(age*2))

In [ ]:
# 9 What is the average claim amount for non-smoking female patients who are diabetic?
select avg(claim) from insurance_data
where smoker='no' and gender='female' and diabetic='yes'

In [ ]:
# 10 Write a SQL query to update the claim amount for the patient with PatientID = 1234 to 5000.
update insurance_data set claim=5000
where PatientID=1234
select * from insurance_data
where PatientID=1234

In [ ]:
# 11 Write a SQL query to delete all records for patients who are smokers and have no children.
delete from  insurance_data
where smoker='yes' and children=0